
{:paths ["source-code/cljs"]
 :deps  {mt-app-kit/cljs-component-props {:git/url "https://github.com/mt-app-kit/cljs-component-props"
                                          :sha     "65ea0638bb34a76374cb0088f35f191711fd99c2"}
         mt-app-kit/cljc-form-validator  {:git/url "https://github.com/mt-app-kit/cljc-form-validator"
                                          :sha     "fdfbbc494ed032243f880bc699f594ce5b77fa2f"}
         org.clojure/clojurescript       {:mvn/version "1.10.891"}}}
