
{:paths ["source-code/cljs"]
 :deps  {mt-app-kit/cljc-preset-props   {:git/url "https://github.com/mt-app-kit/cljc-preset-props"
                                         :sha     "6d06b4662e044b080455e36fe1cb59b31fffe006"}
         mt-app-kit/cljs-form-validator {:git/url "https://github.com/mt-app-kit/cljs-form-validator"
                                         :sha     "fffffffffffffffffffffffffffffffffffffff"}
         org.clojure/clojurescript      {:mvn/version "1.10.891"}}}
